<!DOCTYPE html>
<html>
<body background="C:\Users\V.RAMKUMAR\Downloads\flight.gif">

<head>
	<title>PREDICTION OF FLIGHT DELAY</title>


</head>

<body>
	<header>
   <centre>
		<font color="black"><h1>PREDICTION OF FLIGHT DELAY</h1>
	</header>
<form>
  <label for="flight-number">Flight Number:</label>
  <input type="text" id="flight-number" name="flight-number"><br>
  <br>
  <label for="month">Month:</label>
  <input type="text" id="month" name="month"><br>
  <br>
  <label for="day-of-month">Day of Month:</label>
  <input type="text" id="day-of-month" name="day-of-month"><br>
  <br>
  <label for="day-of-week">Day of Week:</label>
  <input type="text" id="day-of-week" name="day-of-week"><br>
  <br>
  <label for="origin">Origin:</label>

<select id="origin" name="origin">
  <option value="MSP">MSP</option>
  <option value="DTW">DTW</option>
  <option value="SEA">SEA</option>
  <option value="JFK">JFK</option>
  <option value="ATL">ATL</option>
</select><br>
<br>
  <label for="destination">Destination:</label>
<select id="destination" name="destination">
  <option value="MSP">MSP</option>
  <option value="DTW">DTW</option>
  <option value="JFK">JFK</option>
  <option value="ATL">ATL</option>
  <option value="SEA">SEA</option>
</select><br>
<br>
  <label for="scheduled-departure-time">Scheduled Departure Time:</label>
  <input type="text" id="scheduled-departure-time" name="scheduled-departure-time"><br>
<br>
  <label for="scheduled-arrival-time">Scheduled Arrival Time:</label>
  <input type="text" id="scheduled-arrival-time" name="scheduled-arrival-time"><br>
<br>
  <label for="actual-departure-time">Actual Departure Time:</label>
  <input type="text" id="actual-departure-time" name="actual-departure-time"><br>
<br>

  <input type="submit" value="Submit">
</form>
<head>